.classpath
.project
.settings/
*/target/*
/target/*
target/*
*.class
.class
camsplatform/admin-ejb/target/
camsplatform/camsPersistence/target/
camsplatform/qms-web/target/
camsplatform/wcm-ejb/target/
camsplatform/sm-ejb/target/
camsplatform/services/target/
camsplatform/bpm-ejb/target/
camsplatform/am-ejb/target/
camsplatform/arms-ejb/target/
camsplatform/audittrail-ejb/target/
camsplatform/cams-ejb/target/
camsplatform/dcs-ejb/target/
camsplatform/doc-issuance-ejb/target/
camsplatform/document-issuance-ejb/target/
camsplatform/inquiry-tracker-ejb/target/
camsplatform/JmsClient/target/
camsplatform/jms-service/target/
camsplatform/project-mgt-ejb/target/
camsplatform/qms-web/target/
camsplatform/services/target/
camsplatform/sheets-ejb/target/
qms-login-web/target/
sm-web/target/
wfcm-web/target/
/target/
*/target/**
**/META-INF/
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

